# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
#.venv/
#venv/
#env/
#ENV/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
/staticfiles
/media
/media/
*.py[cod]

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Virtualenv
Pipfile.lock

# Environment files
.env

# Database backups
*.dump

# node
node_modules/

# Coverage
htmlcov/
.coverage

# pyenv
.python-version

# Distribution
build/
dist/
*.egg-info/

# macOS
*.DS_Store

# JetBrains
.idea/

# logs
logs/
*.log

